.hidden {
  display: none;
}

body {
  font-family: "Roboto", sans-serif;
  color: #434455;
  background-color: #ffffff;
}
/*reset*/

ul,
ol {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

a {
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}
button {
  cursor: pointer;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/*common*/

.container {
  max-width: 320px;
  padding: 0 16px;
  margin: 0 auto;
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}

@media screen and (min-width: 1158px) {
  .container {
    max-width: 1158px;
    padding: 0 15px;
  }
}

/* header */

.header {
  display: block;
  border-bottom: 1px solid #e7e9fc;
  box-shadow: 0px 1px 6px 0px #2e2f4214, 0px 1px 1px 0px #2e2f4229,
    0px 2px 1px 0px #2e2f4214;
}

.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header-navigation-list,
.header-address {
  display: none;
}

.header-logo {
  text-decoration: none;
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-weight: 700;
  color: #4d5ae5;
  text-transform: uppercase;
  line-height: 1.17;
  letter-spacing: 0.03em;
}
.header-logo {
  padding: 16px 0;
  display: block;
}

.header-logo .logo-part {
  color: #2e2f42;
}

/* кнопка меню в мобільній версії */

.burger-btn {
  padding: 0;
  border: none;
  background-color: transparent;
}
.buger-icon {
  display: block;
  fill: #2f2f37;
}

/* панель навігації у планшетній версії */

@media screen and (min-width: 768px) {
  .burger-btn {
    display: none;
  }
  .header-navigation {
    display: flex;
    align-items: center;
  }
  .header-navigation-list {
    display: flex;
    align-items: center;
    gap: 40px;
  }
  .header-logo {
    padding: 24px 0;
    margin-right: 120px;
  }
  .navigation-link {
    display: block;
    padding: 24px 0;
    cursor: pointer;
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0.02em;
    color: #2e2f42;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .navigation-link.current {
    position: relative;
  }
  .navigation-link.current::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -1px;
    width: 100%;
    height: 4px;
    border-radius: 2px;
    background-color: #404bbf;
  }

  .header-address {
    font-style: normal;
    display: block;
  }
  .header-address-list {
    display: flex;
    flex-direction: column;
    gap: 12px;
  }
  .address-link {
    display: block;
    color: #434455;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    cursor: pointer;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .navigation-link:hover,
  .navigation-link:focus,
  .address-link:hover,
  .address-link:focus,
  .navigation-link.current {
    color: #404bbf;
  }
}

/* панель навігації у desktop версії */
@media screen and (min-width: 1158px) {
  .header-logo {
    margin-right: 76px;
  }
  .header-address-list {
    flex-direction: row;
    align-items: center;
    gap: 40px;
  }

  .address-link {
    padding: 24px 0;
    cursor: pointer;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
  }
}

/* mobile menu only in mobile version*/

.mobile-menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #fff;

  opacity: 0;
  visibility: hidden;
  pointer-events: none;

  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-menu.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}
.mobile-wrapper {
  padding-left: 16px;
}
.mobile-menu-container {
  position: relative;
  padding-top: 72px;
  padding-bottom: 40px;

  display: flex;
  flex-direction: column;
  height: 100%;
}
.mobile-menu-close {
  position: absolute;
  top: 24px;
  right: 24px;
}
.mobile-menu-nav {
  margin-bottom: auto;
}

@media screen and (min-width: 768px) {
  .mobile-menu {
    display: none;
  }
}
/*section "one" with title and button - mobile version */

.section {
  padding: 72px 0;
  max-width: 320px;
  width: 100%;
  height: 432px;
  margin: 0 auto;
  background-color: #2e2f42;
  text-align: center;
  background-image: url(../images/people-office.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
  background-image: linear-gradient(rgba(46, 47, 66, 0.7)),
    url(../images/people-office.jpg);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.title-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.title {
  margin-bottom: 72px;
  max-width: 216px;
  height: 160px;
  font-size: 36px;
  line-height: 1.07;
  text-align: center;
  letter-spacing: 0.02em;
  color: #ffffff;
}

.title-button {
  display: block;
  min-width: 169px;
  height: 56px;
  border: none;
  border-radius: 4px;
  margin-bottom: 72px;
  color: white;
  background-color: #4d5ae5;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.title-button:hover,
.title-button:focus {
  background-color: #404bbf;
}
/*section "one" with title and button - tablet version */

@media screen and (min-width: 768px) {
  .section {
    padding: 112px 0;
    max-width: 768px;
  }
  .title {
    margin-bottom: 36px;
    max-width: 496px;
    height: 120px;
    font-size: 56px;
    line-height: 60px;
  }
  .title-button {
    margin-bottom: 112px;
  }
}
/*section "one" with title and button - tablet version */
@media screen and (min-width: 1158px) {
  .section {
    padding: 188px 0;
    max-width: 1440px;
    height: 600px;
  }
  .title {
    margin-bottom: 48px;
  }
  .title-button {
    margin-bottom: 188px;
  }
}

/*section "two" Strategy -> mobile version*/
.section-strategy {
  padding: 96px 0;
}
.strategy-list {
  display: flex;
  flex-wrap: wrap;
  gap: 72px;
}
.strategy-link {
  width: 100%;
}
.icon-container {
  display: none;
}

.strategy-subtitle {
  text-align: center;
  margin-bottom: 8px;
  font-weight: 700;
  font-size: 36px;
  line-height: 40px;
  letter-spacing: 0.02em;
  color: #2e2f42;
}
.strategy-subtitle-text {
  width: 288px;
  line-height: 24px;
  letter-spacing: 0.02em;
  font-weight: 500;
  font-size: 16px;
  color: #434455;
  margin-bottom: 0;
}
/* tablet version */
@media screen and (min-width: 768px) {
  .strategy-container {
    max-width: 768px;
    padding: 0 16px;
    margin: 0 auto;
  }

  .strategy-list {
    display: flex;
    flex-wrap: wrap;
    gap: 72px 24px;
    justify-content: center;
  }

  .strategy-link {
    width: calc((100% - 24px) / 2);
  }
  .strategy-subtitle {
    text-align: left;
  }

  .strategy-subtitle-text {
    width: 100%;
  }
}
/* desktop version */
@media screen and (min-width: 1158px) {
  .section-strategy {
    padding: 120px 0;
  }
  .strategy-container {
    max-width: 1158px;
    margin: 0 auto;
    padding: 0 15px;
  }
  .strategy-list {
    display: flex;
    flex-wrap: nowrap;
    gap: 24px;
  }
  .strategy-link {
    gap: 24px;
    width: calc((100% - 72px) / 4);
  }
  .icon-container {
    display: flex;
    align-items: center;
    justify-content: center;
    top: 24px;
    left: 100px;
    width: 264px;
    height: 112px;
    margin-bottom: 8px;
    gap: 8px;
    border-width: 1px;
    border-radius: 4px;
    background-color: #f4f4fd;
    border: 1px solid #8e8f99;
  }
  .strategy-subtitle {
    font-size: 20px;
    font-weight: 500;
    line-height: 24px;
    color: #2e2f42;
    margin-bottom: 8px;
    text-align: left;
  }
  .strategy-subtitle-text {
    font-size: 16px;
    line-height: 24px;
    color: #434455;
    width: 100%;
  }
}

/*section "three" Team -> mobile version*/
.section-team {
  padding: 96px 0;
  background-color: #f4f4fd;
}
.section-team-list {
  margin-top: 72px;
  display: flex;
  flex-wrap: wrap;
  gap: 72px;
}
.section-team-title {
  margin-bottom: 0;
  text-align: center;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: #2e2f42;
}
.container-name {
  background-color: #ffffff;
}
.team-list {
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08),
    0px 1px 1px 0px rgba(46, 47, 66, 0.16),
    0px 1px 6px 0px rgba(46, 47, 66, 0.08);
}
.icon-list {
  list-style: none;
  display: flex;
  gap: 24px;
  justify-content: center;
  margin-top: 8px;
}
.icon-item {
  width: 40px;
  height: 40px;
}
.icon-link {
  width: 100%;
  height: 100%;
  background-color: var(--main-color, #4d5ae5);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.icon-link:hover,
.icon-link:focus {
  background-color: #404bbf;
}
.icon-soc {
  width: 16px;
  height: 16px;
  fill: var(--icon-color, #f4f4fd);
}
.container-name {
  padding: 32px 0;
}

.section-team-subtitle {
  text-align: center;
  margin-bottom: 8px;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
}
.section-subtitle-text {
  text-align: center;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}
/* tablet version */
@media screen and (min-width: 768px) {
  .section-team-list {
    padding-left: 108px;
    padding-right: 108px;
    gap: 64px 24px;
  }
  .team-list {
    width: calc((100% - 24px) / 2);
    box-sizing: border-box;
  }
  .container-name {
    padding: 32px 0;
  }
}

/* desktop version */
@media screen and (min-width: 1158px) {
  .section-team {
    padding: 120px 0;
  }
  .section-team-list {
    padding: 0;
    display: flex;
    flex-wrap: nowrap;
    gap: 24px;
  }
  .team-list {
    width: calc((100% - 72px) / 4);
  }
}
/* section four - Portfolio ->mobile version */
.section-portfolio {
  padding: 96px 0;
}
.section-portfolio-title {
  margin-bottom: 72px;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: #2e2f42;
}
.portfolio-list {
  display: flex;
  flex-wrap: wrap;
  gap: 48px;
}
.portfolio-item {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.box-img {
  position: relative;
  overflow: hidden;
}
.overlay-text {
  padding: 40px 32px;
  background-color: #4d5ae5;
  color: #f4f4fd;
  font-family: "Roboto";
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio-item:hover .overlay-text {
  transform: translateY(0%);
}

.app-container {
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none;
  box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08),
    0px 1px 1px 0px rgba(46, 47, 66, 0.16),
    0px 1px 6px 0px rgba(46, 47, 66, 0.08);
}
.section-subtitle {
  margin-bottom: 8px;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
}
.section-subtitle-text {
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

/* tablet version */
@media screen and (min-width: 768px) {
  .portfolio-list {
    gap: 72px 24px;
  }
  .portfolio-item {
    width: calc((100% - 24px) / 2);
    box-shadow: 0px 1px 6px 0px rgba(46, 47, 66, 0.08);
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .portfolio-item:hover {
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
      0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
  }
  .app-container {
    box-shadow: none;
  }
  .app-container:hover {
    box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08),
      0px 1px 1px 0px rgba(46, 47, 66, 0.16),
      0px 1px 6px 0px rgba(46, 47, 66, 0.08);
  }
}

/* desktop version */
@media screen and (min-width: 1158px) {
  .section-portfolio {
    padding: 120px 0;
  }
  .portfolio-item {
    width: calc((100% - 48px) / 3);
  }
}

/* section footer -> mobile version */
.footer {
  padding: 96px 0;
  background-color: #2e2f42;
}
.footer-container {
  display: flex;
  flex-wrap: wrap;
  gap: 72px;
}

.footer-logo {
  padding-left: 102px;
  padding-right: 102px;
}
.footer-logo-color {
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-weight: 700;
  color: #f4f4fd;
  text-transform: uppercase;
  line-height: 1.17;
  letter-spacing: 0.03em;
}
.footer-logo {
  text-decoration: none;
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-weight: 700;
  color: #4d5ae5;
  text-transform: uppercase;
  line-height: 1.17;
  letter-spacing: 0.03em;
}

.footer-text {
  margin-top: 16px;
  width: 264px;
  color: #f4f4fd;
  line-height: 1.5;
  letter-spacing: 0.02em;
}
.social-title {
  padding: 0 112px;
  justify-content: center;
  align-items: center;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #ffffff;
  margin-bottom: 16px;
}
.social-list {
  padding-left: 56px;
  padding-right: 56px;
  justify-content: center;
  align-items: center;
  list-style: none;
  display: flex;
  align-items: baseline;
  gap: 16px;
  width: 100%;
  height: 100%;
}
.social-link {
  width: 40px;
  height: 40px;
  background-color: #4d5ae5;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.social-link:hover,
.social-link:focus {
  background-color: #31d0aa;
}
.social-icon {
  fill: #f4f4fd;
}
.form-text {
  padding-left: 122px;
  padding-right: 123px;
  margin-bottom: 16px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #ffffff;
}
.subscribe-form {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
}
.email-form {
  width: 288px;
  height: 40px;
  border: 1px solid #ffffff;
  background-color: transparent;
  font-size: 12px;
  line-height: 2;
  letter-spacing: 0.04em;
  padding-left: 16px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  color: #ffffff;
}
.subscribe-button {
  min-width: 165px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;

  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #ffffff;
  cursor: pointer;
  background-color: #4d5ae5;
  border: none;
  border-radius: 4px;
}
.subscribe-button:hover,
.subscribe-button:focus {
  background-color: #404bbf;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.icon-send {
  margin-left: 16px;
  fill: var(--icon-color, #ffffff);
}

/* tablet version */
@media screen and (min-width: 768px) {
  .footer-container {
    gap: 72px 24px;
  }
  .footer-branding {
    margin-left: 108px;
  }

  .footer-logo {
    padding: 0;
    display: inline-block;
  }
  .social-title {
    padding: 0;
  }
  .social-list {
    padding: 0;
  }
  .container-subscribe {
    margin-left: 108px;
  }
  .subscribe-form {
    display: flex;
    flex-wrap: nowrap;
    gap: 24px;
  }
  .email-form {
    width: 264px;
  }
  .form-text {
    padding: 0;
  }
}

/* desktop version */

@media screen and (min-width: 1158px) {
  .footer {
    padding: 100px 0;
  }
  .footer-container {
    max-width: 1158px;
    width: 100%;
    gap: 0;
    display: flex;
    flex-wrap: nowrap;
    align-items: baseline;
  }
  .footer-branding {
    margin-left: 0;
    margin-right: 120px;
  }
  .container-subscribe {
    margin-left: 80px;
  }
}
/* modal window */
